## Library settings

In [ ]:
!pip install PyPDF2
!pip install langchain
!pip install openai
!pip install tiktoken
!pip install faiss-cpu
!pip install pytesseract
!pip install opencv-contrib-python

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 4.1 MB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1
Collecting langchain
  Downloading langchain-0.0.271-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 7.7 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.20)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.8.5)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.3)
Collecting dataclasses-json<0.6.0,>=0.5.7 (from langchain)
  Downloading dataclasses_json-0.5.14-py3-none-any.whl (26 kB)
Collecting langsmith<0.1.0,>=0.0.21 (from langchain)
  Downloading langsmith-0.0.26-py3-none-any.whl (34 kB)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.5)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.23.5)
Requirement already satisfied: pydantic<3,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.2.0)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading marshmallow-3.20.1-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 5.9 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (0.5.0)
Requirement already satisfied: pydantic-core==2.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (2.6.0)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (4.7.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2023.7.22)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, marshmallow, typing-inspect, langsmith, dataclasses-json, langchain
Successfully installed dataclasses-json-0.5.14 langchain-0.0.271 langsmith-0.0.26 marshmallow-3.20.1 mypy-extensions-1.0.0 typing-inspect-0.9.0
Collecting openai
  Downloading openai-0.27.9-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.5/75.5 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Installing collected packages: openai
Successfully installed openai-0.27.9
Collecting tiktoken
  Downloading tiktoken-0.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 9.9 MB/s eta 0:00:00
Requirement already satisfied: regex>=2022.1.18 in /usr/local/lib/python3.10/dist-packages (from tiktoken) (2023.6.3)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.10/dist-packages (from tiktoken) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (2023.7.22)
Installing collected packages: tiktoken
Successfully installed tiktoken-0.4.0
Collecting faiss-cpu
  Downloading faiss_cpu-1.7.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 49.1 MB/s eta 0:00:00
Installing collected packages: faiss-cpu
Successfully installed faiss-cpu-1.7.4
Collecting pytesseract
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (23.1)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (9.4.0)
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.10
Requirement already satisfied: opencv-contrib-python in /usr/local/lib/python3.10/dist-packages (4.8.0.76)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.10/dist-packages (from opencv-contrib-python) (1.23.5)

In [ ]:
from PyPDF2 import PdfReader

import langchain
from langchain.text_splitter import CharacterTextSplitter
from langchain.chains.question_answering import load_qa_chain
from langchain.llms import LlamaCpp
from langchain.vectorstores import Qdrant, FAISS
from langchain.embeddings import SentenceTransformerEmbeddings
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.chat_models import ChatOpenAI
from langchain.chains.question_answering import load_qa_chain
from langchain.llms import OpenAI
from langchain.callbacks import get_openai_callback
from langchain.document_loaders import PyPDFLoader


# Fix for some new weird "no attribute 'verbose'" bug https://github.com/hwchase17/langchain/issues/4164
langchain.verbose = False

## Mounting Drive.
If you don't have the "Turing 2023" folder at your "My Drive" you can add a direct link. With that you can access the uploaded pdfs

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
%cd gdrive/MyDrive

/content/gdrive/MyDrive

In [ ]:
import os
os.chdir("/content/gdrive/My Drive/Turing 2023/AnglophoneChile newspaper PDFs/Star of Chile")

In [ ]:
API='sk-yourkeyopenai'

##Collecting editions

In [ ]:
import pandas as pd
import os

In [ ]:
list_files = os.listdir()

docs_list = pd.DataFrame({
    'name': list_files,
    'shipping report': [None] * len(list_files)
})

print(docs_list)

                  name shipping report
0   PE0001106_0001.pdf            None
1   PE0001106_0007.pdf            None
2   PE0001106_0008.pdf            None
3   PE0001106_0009.pdf            None
4   PE0001106_0010.pdf            None
..                 ...             ...
82  PE0001106_0003.pdf            None
83  PE0001106_0004.pdf            None
84  PE0001106_0005.pdf            None
85  PE0001106_0006.pdf            None
86  docs_with_data.csv            None

[87 rows x 2 columns]

In [ ]:
questions = [
    "What's the name of the news paper",
    "What's the date, price and volume of that news paper edition?",
    "Show the list of ships in shipping report"
]

### Hints for use:


*   In this line you can select some volume for the QA -> pdf = docs_list['name'][1]
*   In the next cell you would be abble to write a question. It will appear an input winthow like this ![Captura de Pantalla 2023-07-11 a la(s) 10.46.59.png]()

These are some examples that you could use:

*   The shipping report is a table with this columns: Date, Port, Name, Tonnage, Consignees, Cargo. Can you give me the list of names that appear in that table?
*   What is the printing date for this news paper?

In [ ]:
pdf = docs_list['name'][1]

In [ ]:
pdf

'PE0001106_0007.pdf'

In [ ]:
table = 'Date | Port | Name | Tonnage | Consignees | Cargo \n Aug. 23 | Iquique | Reine Blanche... | 1475 | Gmo. Wilms..... | Coal \n " | Mollendo | Invermale....|1337| |Lumber \n " 25 | do | Nelson.... | 1247 | | Coal'

In [ ]:
print(table)

Date | Port | Name | Tonnage | Consignees | Cargo
 Aug. 23 | Iquique | Reine Blanche... | 1475 | Gmo. Wilms..... | Coal
 " | Mollendo | Invermale....|1337| |Lumber
 " 25 | do | Nelson.... | 1247 | | Coal

In [ ]:
prompt= 'The shipping report near page 10 is: . You can find this under the header ARRIVALS OF FOREIGN VESSELS ON WEST COAST, SOUTH AMERICA and above CHARTERS header. Answer in table format with columns Date, Port, Name, Tonnage, Consignees, Cargo. Break line after rows end. An example of this table is: ' + table

In [ ]:
print(prompt)

The shipping report near page 10 is: . You can find this under the header ARRIVALS OF FOREIGN VESSELS ON WEST COAST, SOUTH AMERICA and above CHARTERS header. Answer in table format with columns Date, Port, Name, Tonnage, Consignees, Cargo. Break line after rows end. An example of this table is: Date | Port | Name | Tonnage | Consignees | Cargo
 Aug. 23 | Iquique | Reine Blanche... | 1475 | Gmo. Wilms..... | Coal
 " | Mollendo | Invermale....|1337| |Lumber
 " 25 | do | Nelson.... | 1247 | | Coal

In [ ]:
# extract the text

if pdf is not None:
  pdf_reader = PdfReader(pdf)
  text = ""
  for page in pdf_reader.pages:
      text += page.extract_text()

      # split into chunks
      if text:
        text_splitter = CharacterTextSplitter(
          separator="\n",
          chunk_size=1000,
          chunk_overlap=200,
          length_function=len
        )
        chunks = text_splitter.split_text(text)

      # create embeddings
  embeddings = OpenAIEmbeddings(openai_api_key=API)
  knowledge_base = FAISS.from_texts(chunks, embeddings)

      # show user input
  user_question = input("Ask a question about your PDF:")
  if user_question:
        docs = knowledge_base.similarity_search(user_question)

        llm = OpenAI(model = 'text-davinci-003',temperature=0.1,openai_api_key=API)
        chain = load_qa_chain(llm, chain_type="stuff")
        with get_openai_callback() as cb:
          response = chain.run(input_documents=docs, question=user_question)
          #print(cb)

        print(response)

Ask a question about your PDF:The shipping report near page 10 is: . You can find this under the header ARRIVALS OF FOREIGN VESSELS ON WEST COAST, SOUTH AMERICA and above CHARTERS header. Answer in table format with columns Date, Port, Name, Tonnage, Consignees, Cargo. Break line after rows end. An example of this table is: Date | Port | Name | Tonnage | Consignees | Cargo   Aug. 23 | Iquique | Reine Blanche... | 1475 | Gmo. Wilms..... | Coal   " | Mollendo | Invermale....|1337| |Lumber   " 25 | do | Nelson.... | 1247 | | Coal

Date | Port | Name | Tonnage | Consignees | Cargo
July 28 | Guayaquil | Rialto | 1141 | W.R. Grace & Co. | Lumber
Aug. 21 | Callao | Cadwgan | 1264 | G.C. Kenrick & Co. | Coal
Sept. 25 | do | Clan Slackenzie | 1509 | Cia. Sal. Alemana | Coal
Oct. 2 | Taltal | Arrow | 2971 | English Lomax & Co. | Coal
Oct. 9 | Iquique | Klio | 1571 | W.C. Lyon | Coal
Oct. 12 | Taltal | Beethoven | 1877 | Gmo. Wilms | Coal
Oct. 14 | Iquique | Aconcagua | 1111 | Ballast | Ballast

In [ ]:
!pip install pdf2image

Collecting pdf2image
  Downloading pdf2image-1.16.3-py3-none-any.whl (11 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from pdf2image) (9.4.0)
Installing collected packages: pdf2image
Successfully installed pdf2image-1.16.3

In [ ]:
from pdf2image import convert_from_path

images = convert_from_path(pdf)
images[10]  # first page

In [ ]:
for index, row in docs_list.iterrows():
  pdf = row['name']
  # extract the text

  if pdf is not None:
    pdf_reader = PdfReader(pdf)
    text = ""
    for page in pdf_reader.pages:
        text += page.extract_text()

        # split into chunks
        if text:
          text_splitter = CharacterTextSplitter(
            separator="\n",
            chunk_size=1000,
            chunk_overlap=200,
            length_function=len
          )
          chunks = text_splitter.split_text(text)

        # create embeddings
    embeddings = OpenAIEmbeddings(openai_api_key=API)
    knowledge_base = FAISS.from_texts(chunks, embeddings)

        # show user input
    user_question = prompt
    if user_question:
          docs = knowledge_base.similarity_search(user_question)

          llm = OpenAI(temperature=0.1,openai_api_key=API)
          chain = load_qa_chain(llm, chain_type="stuff")
          with get_openai_callback() as cb:
            response = chain.run(input_documents=docs, question=user_question)
            print(cb)
          row['shipping report']=response
          print(response)

Tokens Used: 1542
	Prompt Tokens: 1537
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.03084
 I don't know.
Tokens Used: 1992
	Prompt Tokens: 1810
	Completion Tokens: 182
Successful Requests: 1
Total Cost (USD): $0.03984

Date | Port | Name | Tonnage | Consignees | Cargo
July 28 | Guayaquil | Rialto | 1141 | W.R. Grace & Co. | Lumber
Aug. 21 | Callao | Cadwgan | 1264 | G.C. Kenrick & Co. | Coal
Sept. 25 | do | Clan Slackenzie | 1509 | Cia. Sal. Alemana | Coal
Oct. 2 | Taltal | Arrow | 2971 | English Lomax & Co. | Coal
" 9 | Iquique | Klio | 1571 | W.C. Lyon | Coal
" 12 | Taltal | Beethoven | 1877 | Ballast
" 14 | Iquique | Aconcagua | 1111 | Conway | Nitrate
Tokens Used: 1763
	Prompt Tokens: 1758
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.03526000000000001
 I don't know.
Tokens Used: 1917
	Prompt Tokens: 1760
	Completion Tokens: 157
Successful Requests: 1
Total Cost (USD): $0.03834
 Date | Port | Name | Tonnage | Consignees | Cargo
July 27 | Panam | Sardhana | 1119 | |
Aug. 11 | Guayaquil | Glencairn | 1498 | |
Aug. 4 | Antofagast | G. Fleming ss | 2228 | |
Aug. 17 | Taltal | Lorton | 1297 | |
Aug. 22 | do | E. Schneider | 1741 | |
Aug. 24 | Antofagast | Fahrwohl | 1384 | |
Aug. 25 | Valparaiso | S. Australia ss | 2580 | |
Aug. 25 | do | Sirius | 1999 | |
Tokens Used: 1897
	Prompt Tokens: 1712
	Completion Tokens: 185
Successful Requests: 1
Total Cost (USD): $0.03794

Date | Port | Name | Tonnage | Consignees | Cargo
Sept. 4 | Gatico | Bankleigh | 1429 | Soc. de M. de Gatico | Coke & Coal
Sept. 24 | Chaara | Dunslaw | 1531 | James & Alex. Brown | Coal
Sept. 26 | Talcahuano | Miefield | 1275 | Williamson B. & Co. | General
Sept. 30 | Iquique | Dunkerque | 2511 | Gmo. Wilms | Coal
Oct. 2 | Valparaiso | Pisagua | 2678 | G.C. Brownell | Coke & Coal
Oct. 3 | do | Nemea | 2259 | Weber & Co. | General
Oct. 5 | Tocopilla | Tarapaca | 2228 | J. & A. Brown | Coal
Tokens Used: 2066
	Prompt Tokens: 1810
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04132
 Date | Port | Name | Tonnage | Consignees | Cargo
Aug. 17 | Callao | Moliendo | - | - | -
Sept. - | Taltal | Junin | - | - | -
Oct. - | Iquique | Carrizal | - | - | -
12 | Valparaiso | Lucipara | - | - | -
13 | do | Aquila | - | - | -
- | Talcahuano | Alba | - | - | -
7 | Kylfciaorc | Clan Robertson | - | - | -
11 | Melete | Conway Castle | - | - | -
15 | J.W.Wendt | Vincent | - | - | -
40 | 1670 | 1591 | 1723 | 1776 | 1436
General | G.C.Brownell | Coal & Bricks | - | - | -
Wayfarer | 1935 | Woodburn | 1445 | Alsterberg | 3072
Craigerne | 1774 | Glenericht | 2217 | Conway | 1776
Melete | 1670
Tokens Used: 2101
	Prompt Tokens: 1860
	Completion Tokens: 241
Successful Requests: 1
Total Cost (USD): $0.04202
 Date | Port | Name | Tonnage | Consignees | Cargo
Sept. 26 | Antofagasta | Ivanhoe | 1250 | Lumber |
Oct. 12 | Taltal | Ashanti s.s. | 2186 | F.C. de Antofagasta | Coal
Oct. 15 | Iquique | East Indian | 1603 | Lautaro N. Co. | Coal
Oct. 14 | Valparaiso | Elginshire | 2038 | J. & A. Brown | Coal
Oct. 16 | Tocopilla | Gabriele D'Ali | 2391 | do | Coal
Oct. 17 | Taltal | Tarpenbek | 1767 | do | Coal
Oct. 16 | Valparaiso | M. Suchet | 1727 | Cia. Sal. Alemana | General
Oct. 18 | do | Persimmon | 2827 | Weber & Co. | General
Oct. 17 | do | A. Africans s.s. | 2693 | G.C. Kenrick & Co. | Coal
Tokens Used: 1779
	Prompt Tokens: 1774
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.03558000000000001
 I don't know.
Tokens Used: 1723
	Prompt Tokens: 1718
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.034460000000000005
 I don't know.
Tokens Used: 2095
	Prompt Tokens: 1839
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.0419
 Date | Port | Name | Tonnage | Consignees | Cargo
Nov. 12 | Valparaiso | Celia | 4000 | W.E.Griffith & Co. |
" | do | Cuzco | 4302 |  |
" | do | Cumbal | 4257 |  |
" | do | Cacique | 3052 |  |
" | do | Cóndor | 3058 |  |
" | do | Coyai | 3039 |  |
" | do | Capac | 3053 |  |
" | do | Lydgate | 2350 |  |
" | do | Poseidon | 1653 |  |
" | do | William Tillie | 1761 |  |
" | do | Falkirk | 1862 |  |
" | do | Neison | 1247 |  |
" | do | Rialto | 1141 |  |
" | do | ürpheus | 1382 |  |
" | do | Susanna | 1873 |  |
" | do | Gantock
Tokens Used: 1951
	Prompt Tokens: 1802
	Completion Tokens: 149
Successful Requests: 1
Total Cost (USD): $0.03902
 Date | Port | Name | Tonnage | Consignees | Cargo
Nov. 10 | Iquique | Leyland Brothers | 2238 | Cia. Sal. Alemana | Ballast
" 12 | do | Preussen | 4765 | Weber & Co | Ballast
" 13 | Valparaiso | Pangani | 2822 | Weber & Co | General
" 14 | do | Palmyra | 1681 | do | General
" 15 | Pisagua | Balasore | 2562 | Lockett Bros & Co | Coal
" 16 | Iquique | Dunearn | 1533 | Beeche Duval & Co | Lumber
Tokens Used: 1932
	Prompt Tokens: 1676
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.03864
 Date | Port | Name | Tonnage | Consignees | Cargo
August 8 | Salaverry | ClanBuchanan | 1966 | General |
October 4 | Callao | Calluna | 1346 | Coal
October 12 | do | Donna Francisca | 2163 | Lumber
November 17 | Taltal | LochFinlas | 2062 | Graham Rowe AsCo | Coal
November 18 | do | GarnettHill | 2149 |
November 19 | do | Enrichetta | 2095 |
November 20 | do | Hawthornbank | 1288 |
November 21 | do | EarlCadogan | 1334 |
November 22 | do | Ascensione | 1809 |
November 23 | do | Philomene | 1352 |
November 24 | do | Elisa | 1463 |
November 25 | do | Condor | 1283 |
November 26 | do | Glenalvon | 1980 |
November 27 | do | Dalgonar | 2565 |
November 28 | do | ReginaElena | 2365 |
November 29 | do | Balasore | 2562 |
November
Tokens Used: 2199
	Prompt Tokens: 1943
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04398


Date | Port | Name | Tonnage | Consignees | Cargo
Nov. 5 | Callao | Anakonda | 1393 | W.R.Grace and Co. | General
Nov. 7 | Callao | Dudhope | 1986 | J.A.Brown | Lumber
Nov. 10 | Callao | Sound of Jura | 1020 | J.A.Brown | Coal
Nov. 12 | Arica | Ardvar | 830 | J.&A.Brown | General
Nov. 24 | Tocopilla | Deckmont | 1642 | J.&A.Brown | Coal
Nov. 25 | Iquique | PI.Qecilie | 1403 | Williamson B.&Co. | Rice Bags
Nov. 26 | Valparaiso | Tweesdale | 2581 | G.C.Kenrick &Co. | Coal
Nov. 27 | Valparaiso | Anglo Australian s.s. | 1081 | G.C.Kenrick &Co. | General
Nov. 28 | Coquimbo | Ednyfed | 647 | J.&A.Brown | Coal
Tokens Used: 1837
	Prompt Tokens: 1832
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.03674
 I don't know.
Tokens Used: 2014
	Prompt Tokens: 1758
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04028
 Date | Port | Name | Tonnage | Consignees | Cargo
Oct. 8 | Mollendo | Cambrian Chieftain | 1361 | J. & A. Brown | Coal
Nov. 27 | Callao | Eos | 996 | General |
Dec. | Antofagasta | Alala s.s. | 2041 | Antofagasta R'way | Coal
" | Callao | Thordia s.s. | 2414 | | Coal
" | Iquique | Erato | 1666 | Weber & Co. | Coal
" | Caldera | Don | 1070 | G.O. Brownell | Coal
" | Caleta Buena | Antoinette | 2451 | Gmo. Wilms | Coal
" | Tocopilla | Marshal | 1785 | Gibbs & Co. | Coal
" | Iquique | Dowan Hill | 1976 | |
" | do | Hans | 2869 | | Coal
" | Taltal | Andorinha | 3187 | | Coal
" | Tocopilla | Mashona | 2352 | Gibbs & Co. |
Tokens Used: 1966
	Prompt Tokens: 1774
	Completion Tokens: 192
Successful Requests: 1
Total Cost (USD): $0.03932000000000001
 Date | Port | Name | Tonnage | Consignees | Cargo
Nov. 8 | Callao | Santa | 899 | | Coal
Dec. 2 | do | East African | 1588 | | Coal
Dec. 17 | Valparaiso | Osorno | 1687 | G.C. Kenrick & Co. | Coal
Dec. 21 | do | Antonio Padre | 1476 | Graham Rowe & Co. | Coal
Dec. 21 | Los Vilos | Ochtertyre | 1263 | J. & A. Brown | Coal
Dec. 21 | Coquimbo | Cromartyshire | 1462 | | Coal
Dec. 22 | Tocopilla | Caprera | 2197 | Gibbs & Co. | Coal
Dec. 22 | Valparaiso | Dartford | 1274 | Graham Rowe & Co. | Coal
Tokens Used: 1811
	Prompt Tokens: 1655
	Completion Tokens: 156
Successful Requests: 1
Total Cost (USD): $0.03622

Date | Port | Name | Tonnage | Consignees | Cargo
Dec. 11 | Callao | Magdalene | 1259 | J.&A.Brown | Coal
" | do | Killarney | 1356 | Coal
" | do | Eudora | 1861 | General
" 24 | Pefia Blanca | Irby | 1480 | Graham Rowe &Co. | Coal
" 23 | Valparaiso | Macdiarmid | 1568 | Williamson, B.&Co. | Cement
" 28 | do | Speme | 1134 | G.C.Kenrick &Co. | Coal
" 30 | do | Frances Fisher | 1359 | Graham Rowe &Co. | Coke
Tokens Used: 1923
	Prompt Tokens: 1830
	Completion Tokens: 93
Successful Requests: 1
Total Cost (USD): $0.03846

Date | Port | Name | Tonnage | Consignees | Cargo
Dec. 28 | Iquique | Paul Isenberg | 1153 | Cia. Sal. Alemana | Ballast
Jan. 2 | Moliendo | Montenegro | 2856 | J. & A. Brown | Coal
" | Valparaiso | B. Hachman | 2804 | Graham Rowe & Co. | Coal
Tokens Used: 1939
	Prompt Tokens: 1790
	Completion Tokens: 149
Successful Requests: 1
Total Cost (USD): $0.038779999999999995
 Date | Port | Name | Tonnage | Consignees | Cargo
Dec. 25 | Callao | Glenogil | 2193 | J. & A. Brown | Wheat
Dec. 26 | Coya | Maria L. | 1096 | | Ballast
Dec. 27 | Capac | Lord Templetown | 2048 | | Wheat
Jan. 7 | Valparaiso | Grasmere | 1157 | J. & A. Brown | Coal
Jan. 8 | Iquique | Emilia Ciampa | 1096 | | Coal
Jan. 8 | Taltal | Boadicea | 1824 | Lautaro N. & Co. | Coal
Tokens Used: 2123
	Prompt Tokens: 1867
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04246
 Date | Port | Name | Tonnage | Consignees | Cargo
Nov. 13 | Iquique | Kronprindesesse Louise | 608 | Cia. Sal. Alemana | General
" | Malon ss | 3081 | Gibbs & Co. | Coal
" | Marthe | 2432 | Inglis L. & Co. | Coal
" | Winkfield ss | 2575 | Gmo. Wilms | Coal
" | QueenMaryss | 2262 | G.C. Kenrick & Co. | Coal
" | IselHoliness | 2426 | Duncan, Fox & Co. | Coal
" | WulfranPuget | 2431 | Saavedra, B. & Co. | Coal
" | Principality | 1595 | G.C. Kenrick & Co. | Coal
Jan. 14 | Tocopilla | Burwood | - | - | Coal
" | Chanaral | West Wallsend | - | - | Coal
" | Hartley | - | - | Steam
" | Brown | Duokenfield | - | - | Coal
" | North'sNavigation | - | - | December sailing
" |
Tokens Used: 2119
	Prompt Tokens: 1921
	Completion Tokens: 198
Successful Requests: 1
Total Cost (USD): $0.04238
 Date | Port | Name | Tonnage | Consignees | Cargo
Dec. 28 | Callao | Inca | 959 | Williamson, B. & Co. | Rice
Jan. 7 | Coronel | Anglo Canadian | 2680 | G.C. Kenrick & Co. | Coal
" | Carrizal | Albuera | 1502 | Graham, Rowe & Co. | Coal
" | Valparaiso | Jaqueline | 245 | Gmo. Wilms | Coal
" | do | Pamelia | 1364 | Weber & Co. | General
" | Caldera | Fratelli Beverino | 2179 | Graham, Rowe & Co. | Coal
" | El Valparaiso | Posen | 1670 | Weber & Co. | General
" | do | Valentia SS | 2111 | W.R. Grace & Co. | Coal
Tokens Used: 1843
	Prompt Tokens: 1741
	Completion Tokens: 102
Successful Requests: 1
Total Cost (USD): $0.036860000000000004

Date | Port | Name | Tonnage | Consignees | Cargo
Jan. 27 | Aneud | Phoenicia ss | 2018 | | Coal
Jan. 28 | Iquique | Otto Sverdrup ss | 2291 | | Ballast
Jan. 29 | Valparaiso | Glenholm | 1804 | Graham, Rowe & Co | Coal
Feb. 2 | Iquique | Selene | 1231 | Nitrate R'waye | Coal
Tokens Used: 1917
	Prompt Tokens: 1788
	Completion Tokens: 129
Successful Requests: 1
Total Cost (USD): $0.03834

Date | Port | Name | Tonnage | Consignees | Cargo
Feb. 6 | Iquique | Magellan | 4500 | Gmo. Wilms | Coal
" | do | Montmorency | 2392 | do | Coal
" | do | Indore | 2037 | Gibbs & Go | Coal
" 5 | Valparaiso | Thetis | 1295 | Jas. & Alex Brown | Coal
" | Iquique | Marjis | 1747 | do | Coal
" 7 | Valparaiso | Plus | 1174 | Weber & Co. | General
Tokens Used: 2071
	Prompt Tokens: 1825
	Completion Tokens: 246
Successful Requests: 1
Total Cost (USD): $0.04142
 Date | Port | Name | Tonnage | Consignees | Cargo
Jan. 23 | Mollendo | Star of Germany | 1284 | J.A. Brown | Coal
Feb. 26 | Taltal | Ville de Rouen s.s. | 3452 | G. Sal. Alemana | General
Feb. 2 | Iquique | Queen Mab | 1000 | J.P. Pelle | Bags
Feb. 3 | Talcahuano | Gladova | 1057 | Williamson B. & Co. | General
Feb. 6 | Tongoy | Alcana s.s. | 2350 | W.C. Lyon | Coal
Feb. 6 | Tocopilla | Schiffbek | 2527 | Jas. & Alex Brown | Coal
Feb. 8 | Junin | F. Figari | 2149 | do | Coal
Feb. 9 | Pisagua | S. Ciampa | 1693 | C. Bennett & Co. | Coal
Feb. 10 | Valparaiso | Anglo Saxon | 2761 | G.G. Kenrick & Co. | Goal
Tokens Used: 2018
	Prompt Tokens: 1795
	Completion Tokens: 223
Successful Requests: 1
Total Cost (USD): $0.04036

Date | Port | Name | Tonnage | Consignees | Cargo
Feb. 2 | Coloso | Morven | 1997 | Gilk & Co. | Coal
Feb. 5 | Junin | Rauma ss. | 1951 | L.J. Garrat | Ballast
Feb. 14 | Antofagasta | Glenelvan | 1756 | Gibbs & Co. | Coal
Feb. 16 | Taltal | Dee | 1115 | Inglis L. & Co. | Coal
Feb. 17 | Valparaiso | Routenburn | 1933 | J.A. Brown | Coal
Feb. 20 | do | Celtic Queen | 1738 | Geo. C. Brownell & Co. | Coal
Feb. 21 | Coquimbo | John Lockett | 779 | General | Valparaiso
Feb. 22 | Pisagua | Bay of Biscay | 1829 | Coal
Feb. 24 | Iquique | Glenfyne | 913 | Ballast
Tokens Used: 2106
	Prompt Tokens: 1889
	Completion Tokens: 217
Successful Requests: 1
Total Cost (USD): $0.042120000000000005

Date | Port | Name | Tonnage | Consignees | Cargo
Feb. 28 | Aricaiu | Chilean Cruiser O'Higgins | N/A | N/A | N/A
Mar. 1 | Mejillones | Chilean Cruiser Chacabuco | N/A | N/A | N/A
Mar. 1 | Mejillones | Chilean Cruiser Blanco Encalada | N/A | N/A | N/A
Mar. 1 | Eten | Chilean Steamer Ballenera | N/A | Mac Auliff and Co. | General
Mar. 1 | Coronel | British Steamer California | N/A | P.S.N. Co. | Passengers and General
Mar. 1 | Pisagua | British Steamer Arica | N/A | P.S.N. Co. | Passengers and General
Mar. 2 | Coquimbo | Chilean Steamer Toro | N/A | O. Schring | General
Tokens Used: 2042
	Prompt Tokens: 1786
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04084
 Date | Port | Name | Tonnage | Consignees | Cargo
Aug. 1 | Loa | Aconcagua | 2 days | Cia. SudAmericana de Vapores | Passengers and general
" | Pena Blanca | Rupanco | 3 days | P. S. N. Go. | General
" | Eten | Imperial | 16 days | Cia. S.A. | Passengers and general
" | Mas Afuera | Luis Alberto | 10 days | Compahia de Pesqueria | Ballast
" | Junin | Itata | 4 days | Cia. S.A. | Passengers and general
" | Coronel | Almirante Barroso | Coal | A. G. Robinson and Co.
" | Puerto Montt | Cachapoal | Passengers and general | Cia. S.A.
" | Lota | Tucnpel | Passengers and general | Cia. S.A.
" | Newcastle, N.S.W. | Thistlebank | Coal |
" | Calcutta | Port Carlisle | Sacks |

Tokens Used: 2064
	Prompt Tokens: 1898
	Completion Tokens: 166
Successful Requests: 1
Total Cost (USD): $0.04128
 Date | Port | Name | Tonnage | Consignees | Cargo
Mar. 12 | Coronel | Guatemala | - | P. S.N. Co. | Passengers and general
Mar. 15 | Coronel | Mexico | - | P. S.N. Co. | Passengers and general
Mar. 15 | Constitucion | Maule | - | Cia. S.A. | Passengers and general
Mar. 15 | Iquique | Almirante Latorre | - | - | Passengers and general
Mar. 15 | Lota | Limari | - | Cia. S.A. | Passengers and general
Mar. 15 | Taltal | Anubis | - | Vorwerk and Co. | Passengers and general
Tokens Used: 2099
	Prompt Tokens: 1843
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.041979999999999996

Date | Port | Name | Tonnage | Consignees | Cargo
Mar. 18 | Peña Blanca | British st. Rupanco | - | P.S.N. Co. | Passengers and general
Mar. 19 | Pisagua | British st. Puno | - | P.S.N. Co. | Passengers and general
Mar. 20 | Lota | Chilean st. Don Matias | - | Cia. Esp. de Lota y Coronel | Coal
Mar. 20 | Coronel | Chilean st. Angamos | - | Cia. S.A.V. | General
Mar. 20 | Lota | Chilean st. Limarí | - | Cia. S.A.V. | Passengers and general
Mar. 21 | Newcastle, N.S.W. | British 4-m. bark Armadale | - | Gibbs and Co. | Coal
Mar. 21 | Hamburg | German st. Pentaur | - | Vorwerk and Co. | General
Mar. 21 | Callao | German st. Polynesia | - | Vorwerk and Co. | Passengers and general
Mar. 21 | Iqu
Tokens Used: 1716
	Prompt Tokens: 1711
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.03432
 I don't know.
Tokens Used: 1862
	Prompt Tokens: 1765
	Completion Tokens: 97
Successful Requests: 1
Total Cost (USD): $0.037239999999999995

Date | Port | Name | Tonnage | Consignees | Cargo
Mar. 31 | Coronel | Valparaiso | - | Cia. S.A.V. | Coal
Apr. 2 | Paita | Colombia | - | P.S.N. Co. | Passengers and general
Apr. 2 | Callao | VilledeParis | - | Duncan, Fox and Co. | Passengers and general
Tokens Used: 2050
	Prompt Tokens: 1794
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.041
 Date | Port | Name | Tonnage | Consignees | Cargo
Mar. 11 | Liverpool | Orcana | 5,000 | German Firm |
Mar. 11 | Liverpool | Orellana | 5,000 | German Firm |
Mar. 11 | Havre | Gulf Line | N/A | Government of Ecuador | Free Postal Matter
Mar. 11 | Chillan | Cattle Fare | N/A | N/A | N/A
Mar. 11 | Newcastle | Monkbarns | 1771 | G. C. Kenrick & C. | Coal
Mar. 11 | Coronel | Colombia | N/A | P.S.N. Co. | Passengers & General
Mar. 11 | Hamburg | Radames | N/A | Vorwerk & Co. | Passengers & General
Mar. 11 | Constitucion | Maule | N/A | Cia. S.A.V. | Passengers & General
Mar. 11 | Coronel | Amazonas | N/A | Cia. S.A.V. | Passengers & General
Mar. 11 | Buenos Aires | Tronador | N/
Tokens Used: 2067
	Prompt Tokens: 1811
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04134
 Date | Port | Name | Tonnage | Consignees | Cargo
April 21 | Constitucion | Maule | - | Cia. S.A.V. | Passengers and general
" | Coronel | Santiago | - | P.S.N. Co. | Passengers and general
" | Liverpool | Tacora | - | Rose, Innes and Co. | Passengers and general
" | Melinca | Lake Leman | - | - | Timber
" | Newcastle, N.S.W. | Glenafton | - | G.C. Kenrick and Co. | Coal
April 22 | Coronel | Valparaiso | - | Cia. S.A.V. | Coal
" | Coronel | Amazonas | - | Cia. S.A.V. | Passengers and general
" | Hamburg | Pampa | - | Weber and Co. | Passengers and general
" | Newcastle, N.S.W. | Grenada | - | Gibbs and Co. | Coal
April 24 | Panama | Tucapel | - | Cia. S.A.V
Tokens Used: 2078
	Prompt Tokens: 1822
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04156
 Date | Port | Name | Tonnage | Consignees | Cargo
April 29 | Huasco | Chirique | - | P.S.N. Co. | Passengers and general
" | Constitucion | Bupanco | - | P.S.N. Co. | Passengers and general
" | Panama | Guatemala | - | P.S.N. Co. | Passengers and general
May 1 | Lota | Luis Alberto | - | Cia Esp. de Lota and Coronel | Coal
" | Puerto Montt | Itata | - | Cia S.A.V. | Passengers and general
" | Valdivia | Yaldivia | - | - | -
" | Coronel | Valparaiso | - | - | Coal
" | Junin | Ballenera | - | MacAuliffe and Co. | Passengers and general
" | Liverpool | Talca | - | Williamson, Balfour and Go. | General
" | Carahue | Malleco | - | Cia. S.A.V. | Passengers and general
" | Const
Tokens Used: 2041
	Prompt Tokens: 1799
	Completion Tokens: 242
Successful Requests: 1
Total Cost (USD): $0.040819999999999995

Date | Port | Name | Tonnage | Consignees | Cargo
May 8 | Iquique | Almirante Latorre | - | A. G. Robinson and Co. | General
May 8 | Melinka | Tronador | - | - | General
May 8 | Shields | South America | - | G. C. Kenrick and Co. | Coal
May 9 | Pisagua | Anglo Chilian | - | G. C. Kenrick and Co. | Nitrate
May 9 | Newcastle, N.S.W. | Steinback | - | Inglis, Lomax and Co. | Coal
May 9 | Coronel | Guatemala | - | P.S.N. Co. | Passengers and General
May 9 | San Francisco | Assuan | - | Vorwerk and Co. | Passengers and General
May 9 | Trumagal | Chilian | - | Cia S.A.V. | Passengers and General
May 9 | Hamburg | Theban | - | Vorwerk and Co. | Passengers and General
Tokens Used: 1948
	Prompt Tokens: 1700
	Completion Tokens: 248
Successful Requests: 1
Total Cost (USD): $0.03896

Date | Port | Name | Tonnage | Consignees | Cargo
12 | Lota | Imperial | - | Cia. S.A.V. | Passengers and general
" | Huasco | Chiriqui | - | P.S.N. Co. | Passengers and general
" | Eten | California | - | P.S.N. Co. | Passengers and general
" | Lota | Luis Alberto | - | Cia Esp. de Lota and Coronel | Coal
" | New York | Tropic | - | W.R. Grace and Co. | Passengers and general

WARNING:langchain.llms.base:Retrying langchain.llms.openai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ServiceUnavailableError: The server is overloaded or not ready yet..

Tokens Used: 2112
	Prompt Tokens: 1856
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04224


Date | Port | Name | Tonnage | Consignees | Cargo
Jan. 19 | Vancouver | Royal Sovereign | - | Soc. Esplotadora de Maderas | Lumber
Jan. 20 | Coronel | Peru | - | P.S.N.C. | -
Jan. 20 | Panama | Aconcagua | - | C.S.A.V. | -
Jan. 21 | Pisagua | Puno | - | P.S.N.C. | -
Jan. 21 | New York | Celia | - | W.R. Grace & Co. | -
Jan. 23 | Caleta Buena | South America | - | Duncan Fox & Co. | -
Jan. 23 | Panama | Chile | - | P.S.N.C. | -
Jan. 24 | Cardiff | Blanefield | - | G.C. Kenrick & Co. | -
Jan. 24 | Liverpool | Lord Darby | - | P.S.N.C. | -
Jan. 24 | Talcahuano | Highlander | - | G.C. Ken
Tokens Used: 2091
	Prompt Tokens: 1835
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.04182

Date | Port | Name | Tonnage | Consignees | Cargo
Feb. 24 | Liverpool | Oravia | - | P.S.N.C. | -
" | Panamá | Loa | - | Cia.S.A.V. | -
25 | Pisagua | Puno | - | P.S.N.C. | -
" | Puerto Montt | California | - | P.S.N.C. | -
26 | Liverpool | Tropea | - | P.S.N.C. | -
" | Liverpool | Santa | - | Williamson Balfour and Co. | -
" | Liverpool | Bellaseo | - | Duncan Fox and Co. | -
27 | Arica | Polynesia | - | Vorwerk and Co. | -
28 | Callao | Galicia | - | P.S.N.C. | -
" | Lota | Mapocho | - | C.S.A.V. | -
" | Coronel | Don Matías | - | Cia. Esp. LyC |
Tokens Used: 2041
	Prompt Tokens: 1886
	Completion Tokens: 155
Successful Requests: 1
Total Cost (USD): $0.040819999999999995
 Date | Port | Name | Tonnage | Consignees | Cargo
March 4 | Corral | Puno | P.S.N.C. | |
" | Talcahuano | Córcega | O. Shering | |
" 5 | Coquimbo | Toro | O. Shering | |
" | Iquique | Cachapoal | Cia. S.A.V. | |
" | Lota | Loa | Cia. S.A.V. | |
" 7 | Eten | Maipo | Cia. S.A.V. | |
" | San Antonio | Denderah | | |
Tokens Used: 1749
	Prompt Tokens: 1744
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.034980000000000004
 I don't know.
Tokens Used: 2305
	Prompt Tokens: 2049
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.0461

Date | Port | Name | Tonnage | Consignees | Cargo
March 25 | Panama | Aconcagua | C.S.A.V. | - | -
March 26 | Tampico | Cruiser | - | Talcahuano | -
March 27 | Hamburg | Ammon | Vorwerk and Co. | - | -
March 27 | Napier (New Zealand) | Irar Aassen | Enrique Bahre | - | -
March 27 | Hamburg | Yethon | Vorwerk & Co. | - | -
March 28 | Panama | Victoria | P.S.N.C. | - | -
March 28 | Pisagua | Puno | P.S.N.C. | - | -
March 28 | New Castle, N.S.W. | Nile | Kenrick | - | -
March 29 | Coronel | Mexico | P.S.N.C. | - | -
March 29 | Lota | Don Carlos | C. Esp. L. y O. | - | -
March 29 | Puerto Montt | Chile | P.S.N.C. | - | -
March 29 |
Tokens Used: 1615
	Prompt Tokens: 1610
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.0323
 I don't know.
Tokens Used: 1901
	Prompt Tokens: 1896
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.038020000000000005
 I don't know.
Tokens Used: 1784
	Prompt Tokens: 1779
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.03568
 I don't know.
Tokens Used: 2379
	Prompt Tokens: 2123
	Completion Tokens: 256
Successful Requests: 1
Total Cost (USD): $0.047580000000000004

Date | Port | Name | Tonnage | Consignees | Cargo
May 12 | Coronel | Angamos | - | Cia. S.A.V. | -
May 12 | Lota | Don Matias | - | C. Esp. L. y O. | -
May 12 | San Francisco | Luxor | - | Vorwerk and Co. | -
May 13 | Eten | California | - | P.S.N.C. | -
May 13 | San Benito | Sais | - | Vorwerk and Co. | -
May 13 | Arica | Esne | - | Vorwerk and Co. | -
May 14 | Chañaral | Toro | - | O. Shering | -
May 14 | Puerto Montt | Itata | - | Cia. S.A.V. | -
May 14 | Newcastle-on-Tyne | Celtic Queen | - | - | -
May 15 | Liverpool | Bellagio | - | Duncan Fox and Co. | -
May 16 | Hamburg | Memphis | - | Vorwerk and Co. | -
May 16 | Lota | Imperial | - |
Tokens Used: 1808
	Prompt Tokens: 1776
	Completion Tokens: 32
Successful Requests: 1
Total Cost (USD): $0.036160000000000005
 Date | Port | Name | Tonnage | Consignees | Cargo
May 21 | Pisagua | Inca | - | - | -
Tokens Used: 1916
	Prompt Tokens: 1719
	Completion Tokens: 197
Successful Requests: 1
Total Cost (USD): $0.03832

Date | Port | Name | Tonnage | Consignees | Cargo
May 25 | Antofagasta | Chilean Antofagasta | - | C. Reimers | -
" | Trumag | Chilean Cautín | - | Cia. S.A.V. | -
" | San Antonio | Chilean St. Valparaiso | - | Cia. de Navegación | -
" | Liverpool | British St. Bogotá | - | P.S.N.C. | -
" | Los Vilos | Argent. Córcega | - | O. Schring | -
" | Pisagua | Chilean St. Amazonas | - | Cia. S.A.V. | -
" 26 | Eten | British St. Leonards | - | P.S.N.C. | -
Tokens Used: 1996
	Prompt Tokens: 1790
	Completion Tokens: 206
Successful Requests: 1
Total Cost (USD): $0.03992

Date | Port | Name | Tonnage | Consignees | Cargo
July 23 | Chanaral | Christine | 1900 | Geo. G. Brownell | Coal & Coke
Aug. 1 | Caldera | Falls of Dee | 1845 | G. C. Keurick & Co. | Coal
Aug. 5 | Valparaiso | Sir Robert Forgie | 2410 | J. & A. Brown | Coal
Aug. 6 | Tocopilla | Caracciolo | 1355 | Anglo Chilian N. Co. | Coal
Aug. 7 | Chanaral | Colony | 1598 | Geo. G. Brownell | Coal & Coke
Aug. 11 | Iquique | Procyon | 1995 | Lumber
Aug. 13 | do | Latimer | 1649 | Nitrate R'ways | Coal
Aug. 19 | Valparaiso | 0. of Dumfries | 1615 | J. & Alex. Brown | Coal
Tokens Used: 1845
	Prompt Tokens: 1727
	Completion Tokens: 118
Successful Requests: 1
Total Cost (USD): $0.0369

Date | Port | Name | Tonnage | Consignees | Cargo
June 22 | Guayaquil | Dunbritton | 1471 | Coal
July 23 | Talcahuano | Renfield | 1034 | Williamson B. & Co. | General
Aug. 6 | Iquique | Shandon | 1397 | W.G. Lyon | Coal
Aug. 8 | Coloso | Cambrian Hills | 1632 | Woodgate & Co. | Coal
Aug. 16 | Iquique | Kinross-shire | 2168 | General
Tokens Used: 2009
	Prompt Tokens: 1766
	Completion Tokens: 243
Successful Requests: 1
Total Cost (USD): $0.04018000000000001

Date | Port | Name | Tonnage | Consignees | Cargo
July 17 | Taltal | Grace Harwar... | 1749 | Lautaro Nit. Co | Coal
Aug. 18 | Coquimbo | Waterloo | 1792 | W.C. Lyon | Coal
Aug. 11 | Pisagua | Miltiades | 1452 | J. & A. Brown | Coal
Aug. 20 | Taltal | Stefano Razeto... | 1909 | Cia. Sal. Alemana | Ballast
Aug. 21 | do | Wilhelmine | 1560 | F.G. de Taltal | Coal
Aug. 22 | Valparaiso | Omberhorne | 1997 | Williamson B. & Co. | Cement
Aug. 23 | Los Vilos | Aleida | 1102 | J. & A. Brown | Coal
Aug. 23 | Pisagua | Falkirk | 1862 | J. & A. Brown | Coal
Aug. 24 | Caleta Buena | Kilmeny | 1469 | Gibbs & Co. | Coal
Tokens Used: 1765
	Prompt Tokens: 1760
	Completion Tokens: 5
Successful Requests: 1
Total Cost (USD): $0.035300000000000005
 I don't know.
Tokens Used: 1988
	Prompt Tokens: 1885
	Completion Tokens: 103
Successful Requests: 1
Total Cost (USD): $0.039760000000000004
 Date | Port | Name | Tonnage | Consignees | Cargo
 Aug. 23 | Iquique | Reine Blanche... | 1475 | Gmo. Wilms..... | Coal
 " | Mollendo | Invermale....|1337| |Lumber
 " 25 | do | Nelson.... | 1247 | | Coal
 Sept. 1 | Valparaiso | DeRuyter | 1689 | James & Alex. Brow. | Coal

In [ ]:
#docs_list.to_csv('docs_with_data.csv')

In [ ]:
docs_list_processed = pd.read_csv('docs_with_data.csv',header=0,index_col=0)

In [ ]:
print(docs_list_processed['shipping report'].iloc[1])

Date | Port | Name | Tonnage | Consignees | Cargo
July 28 | Guayaquil | Rialto | 1141 | W.R. Grace & Co. | Lumber
Aug. 21 | Callao | Cadwgan | 1264 | G.C. Kenrick & Co. | Coal
Sept. 25 | do | Clan Slackenzie | 1509 | Cia. Sal. Alemana | Coal
Oct. 2 | Taltal | Arrow | 2971 | English Lomax & Co. | Coal
" 9 | Iquique | Klio | 1571 | W.C. Lyon | Coal
" 12 | Taltal | Beethoven | 1877 | Ballast
" 14 | Iquique | Aconcagua | 1111 | Conway | Nitrate

In [ ]:
docs_list_processed

                  name                                    shipping report
0   PE0001106_0001.pdf                                      I don't know.
1   PE0001106_0007.pdf  \nDate | Port | Name | Tonnage | Consignees | ...
2   PE0001106_0008.pdf                                      I don't know.
3   PE0001106_0009.pdf   Date | Port | Name | Tonnage | Consignees | C...
4   PE0001106_0010.pdf  \nDate | Port | Name | Tonnage | Consignees | ...
..                 ...                                                ...
81  PE0001106_0002.pdf  \nDate | Port | Name | Tonnage | Consignees | ...
82  PE0001106_0003.pdf  \nDate | Port | Name | Tonnage | Consignees | ...
83  PE0001106_0004.pdf   \nDate | Port | Name | Tonnage | Consignees |...
84  PE0001106_0005.pdf                                      I don't know.
85  PE0001106_0006.pdf   Date | Port | Name | Tonnage | Consignees | C...

[86 rows x 2 columns]